.chat-wrapper {
  margin-bottom: 15px;
}

.chat-box {
  display: flex;
  align-items: center;
  background: #fbe5f1;
  padding: 8px;
  border-radius: 10px;
}

.chat-input {
  flex: 1;
  padding: 10px 12px;
  border: none;
  background: #fff;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

.chat-btn {
  margin-left: 10px;
  background: #540863;
  color: white;
  padding: 10px 14px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.chat-btn:hover {
  opacity: 0.8;
}

.chat-error {
  margin-top: 6px;
  padding: 8px;
  background: #92487a;
  color: #ffd3d5;
  border-radius: 8px;
  font-size: 13px;
  border: none;
}
