.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffd3d5;
  padding: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 2rem;
  width: 100%;
  background-color: #e49ba6;
  max-width: 350px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #540863;
}

.input {
  padding: 0.75rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-radius: 6px;
  background-color: #ffd3d5;
  border: 1px solid #92487a;
}

.input:focus {
  border-color: #540863;
  outline: none;
  box-shadow: 0 0 5px rgba(84, 8, 99, 0.5);
}

.button {
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  background-color: #540863;
  cursor: pointer;
  color: #ffd3d5;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #92487a;
}

.error {
  color: #540863;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
}

.toggle-button {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: none;
  color: #540863;
  background: transparent;
  transition: color 0.3s;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
}

.toggle-button:hover {
  color: #92487a;
}

@media (max-width: 400px) {
  .form {
    padding: 1.5rem;
    width: 100%;
  }

  .title {
    font-size: 1.3rem;
  }

  .input {
    padding: 0.65rem;
    font-size: 0.95rem;
  }

  .button {
    padding: 0.65rem;
    font-size: 0.95rem;
  }
}
